<%= form_for @author do |f| %>
  <p>
    <%= f.label :email %><br/>
    <%= f.text_field :email, :placeholder => "enter email" %>
  </p>

   <p>
    <%= f.label :password %><br/>
    <%= f.text_field :password, :placeholder => "enter password" %>
  </p>
  
  
    <%= f.submit 'Submit' %>
  </p>
<% end %>